*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #000;
    color: #fff;
}
#header{
    width: 100;
    height: 100vh;
    background-image: url(./flat-lay-workstation-with-copy-space-laptop.jpg);
    background-size: cover;
    background-position: left;
}
